.git
.gitignore
.env
.env.backup
.phpunit.result.cache
node_modules
npm-debug.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
*.md
!README.md
tests
.editorconfig
.styleci.yml
phpunit.xml
.DS_Store
Thumbs.db
